{% extends 'base.html' %}

{% block content %}
<div style="margin-top:15px;"> 
  <h2 class="text-center">Patienten in curaPACS importieren</h2>
</div>
  {% csrf_token %}
  <div class="mx-auto" style="width:550px; margin-top:35px;" > 
  {% if object_list|length == 0 %}
  <div class="card border-info" style="width: 30rem;"> 
    <div class="card-body">Alle Patienten bereits importiert.</div>
  </div>
   
  {% endif %}

  {% if object_list|length > 1 %}
  <div style="padding-bottom: 35px;"> 
  <button id="btn-import-all-patients" name="show-import" type="button" class="btn btn-outline-primary">Alle Patienten importieren</button>
  </div>
  {% endif %}
</div>

  {% for instance in object_list reversed %}
  <div class="card border-info mb-3 w-50 mx-auto">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="card w-2 border-0">
            <div class="col"  style="width: 80px;">
              {% if instance.title == "male" %}
              <img src="/static/images/batman.png" class="card-img-top">
              {% else %}
              <img src="/static/images/marilyn_monroe.png" class="card-img-top">
              {% endif %}
            </div>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <h5 class="card-title">{{instance.first_name}} {{ instance.second_name}}</h5>
              </div>

              <div class="toast" id="import-toast-{{ instance.id }}" data-autohide="false" 
              role="alert" aria-live="assertive" aria-atomic="true" style="display: none"> 
                <div class="toast-header">
                  <div class="col" style="width: 80px;"> 
                    <img src="/static/images/cancel.png" class="rounded mr-2">
                  </div>
                  
                  <strong class="mr-auto">Fehler</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="toast-body">
                 Der Patient konnte nicht in curaPACS importiert werden.
                 </div>                                           
              </div>  
            </div>
          </div>
        </div>
      </div>
  
      <ul class="list-group list-group-flush"> 
        <li class="list-group-item py-1 mt-1">Geburtsdatum: {{ instance.birthdate }}</li>
        <li class="list-group-item py-1 mb-1">Adresse: {{ instance.address }} {{ instance.number }},
          {{ instance.city }} {{ instance.code }}</li>
       
      </ul>
      <div class="row">
        <div class="col">
          <button id="show-import-for-patient-{{ instance.id }}" name="show-import" 
          corresponding-patient="{{ instance.id }}" type="button" class="btn btn-outline-primary">
          Importieren</button>           
         </div>
      </div>
    </div>
  </div>
  
  
  {% endfor %}
  <script>
    var showAllToastsState = true;
  function changeToastVisibility(i) {
    if (i == 0) {
      return;
    }
      if (showAllToastsState == true){
        $(this).show();        
      } else {
        $(this).hide();
    }
  }
   //on page load, for every button (and therefore every patient): 
  //run the changevisibility function on all the divs (studies), so we only show the first study on page load
  $("button[name='show-import']").each(function(i){
    var patientId = $(this).attr("corresponding-patient");
    $("#import-toast-"+ patientId).children("div").each(changeToastVisibility);  
  });

  $(document).ready(function(){
    $(".toast").toast("hide");

    $("button[name='show-import']").click(function () {
      var patientIds = [];
      if ($(this).attr('id') == "btn-import-all-patients") {
          $("button[name='show-import']").each(function(i){
              if ($(this).attr("corresponding-patient")) {
                  if (!$(this).prop('disabled')) {
                    patientIds.push($(this).attr("corresponding-patient"));
                  }     
              }
          });
      } else {
        patientIds.push($(this).attr("corresponding-patient"));
      }
      var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val(); 
      
      $(this).html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Verbinden...').addClass('disabled');
      var $ti = $(this).html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Verbinden...');
  
      $.ajaxSetup({
            timeout: 10001,
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'X-CSRFToken': csrfmiddlewaretoken
            }
        });  

      $.post("{%url 'patientsImport' %}", JSON.stringify(patientIds),
              function (returnedData){ 
                returnedData["failed"].forEach(function (patient, index) {
                  $("#import-toast-" + patient.id).removeAttr("style").css("display","inline");
                  $("#import-toast-" + patient.id).toast("show");
                  $("#show-import-for-patient-" + patient.id ).html('Erneut versuchen');
                });
                returnedData["imported"].forEach(function (patient, index) {
                  $("#show-import-for-patient-" + patient.id ).html('Patient erfolgreich importiert');
                  $("#show-import-for-patient-" + patient.id ).prop('disabled', true);   
                });
              }).fail(function (){
                $.each(patientIds, function (patientid, index) {
                  $("#import-toast-" + patientid).removeAttr("style").css("display","inline");
                  $("#import-toast-" + patientid).toast("show");
                  $("#show-import-for-patient-" + patientid ).html('Erneut versuchen');
                });
              }).always(function() {
                  $("#btn-import-all-patients").html("Alle Patienten importieren");
                }
              );
    });
  });   
</script>
  
{% endblock %}