
{% extends 'base.html' %} 

{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <form class="form-inline my-2 my-lg-0" action ="{% url 'patientSearch' %}" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Patient suchen" aria-label="Search">
      {% for i in post %}
      <a href="../patient/patient_list.html/{{ i.slug }}">{{ i.title }}: {{i.snipet}}</a>
      {% endfor %}
      <!-- search bar does not work... fuck-->
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Suchen</button>
    </form>
</nav>

<h2>Patientenliste</h2>
<br>
{% for instance in object_list %}
<div class="card border-info mb-3 w-100" >
  <div class="card-body">
  <div class="container">
    <div class="row">
      <div class = "card w-2">
      <div class="col">
        <img src="/static/images/batman.png" class="card-img-top" width="55" height="45">
      </div>
    </div>
      <div class="col-15">
        <h5 class="card-title">{{instance.first_name}} {{ instance.second_name}}</h5>
      </div>
    </div>
  </div>
    
      
      <h6 class="card-subtitle mb-2 text-muted">ID: {{instance.id}}</h6>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ instance.birthdate }}</li>
        <li class="list-group-item">{{ instance.address }}</li>
        <li class="list-group-item"> {{ instance.code }}</li>
        <li class="list-group-item"> {{ instance.language }}</li>
      </ul>  
      <!-- aici ai eroarea cu reverse for patients detail with no argument pattern-->
      <a href="{% url 'patientDetail' 13 %}" class="btn btn-outline-primary">Patient bearbeiten</a>
      <a href="#fuck" class="btn btn-outline-primary">Patient bearbeiten</a>
    </div>
  </div>


{% endfor %}

{% endblock %}