
{% extends 'base.html' %} 

{% block content %}

<nav class="navbar navbar-light bg-light">
   
    <form class="form-inline " action ="{% url 'searchResult' %}" method="GET">
      <input class="form-control mr-sm-2" type="text" 
      name ='q' id= 'id_q' placeholder="Patient suchen" aria-label="Search">
      <script type="text/javascript">
      document.getElementById("id_q").value="{{query}}"
      </script>
       
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Suchen</button>
    </form>
</nav>

<h2>Patientenliste</h2>
<br> 
{% for instance in object_list reversed %}
<div class="card border-info mb-3 w-100" >
  <div class="card-body">
  <div class="container">
    <div class="row">
      <div class = "card w-2 border-0">
      <div class="col ">
        <img src="/static/images/batman.png" class="card-img-top" width="55" height="45">
      </div>
    </div>
      <div class="col-15">
        <h5 class="card-title">[ID: {{instance.id}}] {{instance.first_name}} {{ instance.second_name}}</h5>
      </div>
    </div>
  </div>
     
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Geburtstag: {{ instance.birthdate }}</li>
        <li class="list-group-item">Addresse: {{ instance.address }}, {{ instance.number }},
           {{ instance.city }}, {{ instance.code }}</li>
        <li class="list-group-item">Sprache: {{ instance.language }}</li>
      </ul>  
      <!-- aici ai eroarea cu reverse for patients detail with no argument pattern-->
      <a href="{% url 'patientDetail' instance.id %}" 
       class="btn btn-outline-primary">Patient bearbeiten</a>
      <a href="{% url 'worklistCreate' %}?patient-id={{ instance.id }}" class="btn btn-outline-primary">Worklist erstellen</a>
      <a href="{% url 'patientDelete' instance.id %}" 
       class="btn btn-outline-primary">Patient löschen</a>
    </div>
  </div>


{% endfor %}

{% endblock %}