
{% extends 'base.html' %} 

{% block content %}
  
 


<h2>Worklist liste</h2>
<br> 
{% for instance in object_list reversed %}
<div class="card border-info mb-3 w-100" >
  <div class="card-body">
  <div class="container">
    <div class="row">
      <div class = "card w-2">
      <div class="col">
        <img src="/static/images/batman.png" class="card-img-top" width="55" height="45">
      </div>
    </div>
      <div class="col-15">
             
        <h5 class="card-title">{{instance.scheduled_station_ae_title}}</h5>
      </div>
    </div>
  </div>
     
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Date: {{ instance.scheduled_procedure_step_start_date}}</li>
        <li class="list-group-item">Time: {{ instance.scheduled_procedure_step_start_time }}</li>
        <li class="list-group-item">Modality.: {{ instance.modality }}</li>
        <li class="list-group-item">Doctor name: {{ instance.scheduled_performing_physician_s_name }}</li>
        <li class="list-group-item">HUman name: {{ instance.patient_s_name }}</li>
        <li class="list-group-item">human id: {{ instance.patient_id}}</li>
        <li class="list-group-item">huma birthdate: {{ instance.patient_s_birth_date}}</li>
        <li class="list-group-item">human sex: {{ instance.patient_s_sex }}</li>
        <li class="list-group-item">description: {{ instance.scheduled_procedure_step_description }}</li>

      </ul>  
     
      <a href="{% url 'patientDetail' instance.id %}" 
       class="btn btn-outline-primary">Patient bearbeiten</a>
      <a href="{% url 'worklistCreate' %}" class="btn btn-outline-primary">Worklist erstellen</a>
      <a href="{% url 'patientDelete' instance.id %}" 
       class="btn btn-outline-primary">Patient löschen</a>
    </div>
  </div>


{% endfor %}
 
{% endblock %}