{% extends 'base.html' %}

{% block content %}
<h2>Auftrag erstellen</h2>


<!-- 
    # info taken from patient:
    # PID,  Vorname, Nachname, geb dat, geschlecht, tel nr -non editable data
    # AUftragsnr - find range of values - dicom attribut 
    # auftragsnr ==? accession nr? 
    #procedure name + procedure code
    #geplannte durchführeung datum/ zeit
    # requestion physician look in dicom standard
    # standort/ raumnr/modalität
-->
 
<form action='.' method='POST'> {% csrf_token %}

    <div class="card border-info mb-3">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="card w-2 border-0">
                        <div class="col">

                            <img src="/static/images/file-hosting.png" class="card-img-top" width="55" height="45">
                        </div>
                    </div>

                </div>

            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Auftragsdatum: </label>
                        </div>
                        
                        <div class="col">
                            <input type="text" name="scheduled_procedure_step_start_date" 
                            id="id_scheduled_procedure_step_start_date" 
                            value='{{ date }}' readonly>
                              <!--
                             {{ form.scheduled_procedure_step_start_date }}-->
                        </div>  
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Auftragszeit: </label>
                        </div>
                         <div class="col" >
                            <input type="text" name="scheduled_procedure_step_start_time" 
                            id="id_scheduled_procedure_step_start_time" 
                            value='{{ time|time }}' readonly>
                            <!-- 
                             {{form.scheduled_procedure_step_start_time}}-->
                        </div>  
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Modalität: </label>
                        </div>
                        <div class="col">
                            {{form.modality}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col"> 
                            <label>Zuständiger Arzt: </label>
                        </div>
                        <div class="col">
                            {{form.scheduled_performing_physician_s_name}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Patient Name: </label>
                        </div>
                        
                        <div class="col">
                            <input type="text" name="patient_s_name" id="id_patient_s_name" value='{{ patient.first_name }} {{ patient.second_name }}' readonly>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                        <label>Patient ID: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="patient_id" id="id_patient_id" value='{{ patient.id }}' readonly>
                            
                        </div>
                       
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Patient Geburtsdatum: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="patient_s_birth_date" id="id_patient_s_birth_date" value='{{ patient.birthdate }}' readonly>
                             
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">


                            <label>Patient Geschlecht: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="patient_s_sex" id="id_patient_s_sex" value='{{ patient.get_title_display}}' readonly>
                            
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col">

                            <label>Auftragsbeschreibung: </label>
                        </div>
                        <div class="col">
                            {{form.scheduled_procedure_step_description}}
                        </div>
                    </div>
                </li>
            </ul>
                <input type='submit' value='Speichern' class="btn btn-outline-primary" />
    <a href="{% url 'patients' %}" class="btn btn-outline-primary">Abbrechen</a>

        </div>
    </div>
</form>
 
{% endblock %}