{% extends 'base.html' %}

{% block content %}
<br>
<h2>Auftrag erstellen</h2>


<!-- 
    # info taken from patient:
    # PID,  Vorname, Nachname, geb dat, geschlecht, tel nr -non editable data
    # AUftragsnr - find range of values - dicom attribut 
    # auftragsnr ==? accession nr? 
    #procedure name + procedure code
    #geplannte durchführeung datum/ zeit
    # requestion physician look in dicom standard
    # standort/ raumnr/modalität
-->
 
<form id='worklist-form' method='POST'> {% csrf_token %}
    <input type="hidden" name="patient_id" id="id_patient_id" value='{{ patient.id }}' readonly>
    <div class="card border-info mb-3">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="card w-2 border-0">
                        <div class="col">
                            <img src="/static/images/file-hosting.png" class="card-img-top" width="55" height="45">
                        </div>
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Auftragsdatum: </label>
                        </div>
                        
                        <div class="col">
                            <input type="text" class="font-italic" name="scheduled_procedure_step_start_date" 
                            id="id_scheduled_procedure_step_start_date" 
                            value='{{ date  }}' readonly>
                                
                        </div>  
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Auftragszeit: </label>
                        </div>
                         <div class="col" >
                            <input type="text" class="font-italic" name="scheduled_procedure_step_start_time" 
                            id="id_scheduled_procedure_step_start_time" 
                            value='{{ time|time}}' readonly>
                            
                        </div>  
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Modalität: </label>
                        </div>
                        <div class="col">
                            {{form.modality}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col"> 
                            <label>Zuständiger Arzt: </label>
                        </div>
                        <div class="col">
                            {{form.scheduled_performing_physician_s_name}}
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Patient: </label>
                        </div>
                        
                        <div class="col">
                            <input type="text" class="font-italic" name="patient_s_name" id="id_patient_s_name" value='{{ patient.first_name }} {{ patient.second_name }}' readonly>
                        </div>
                    </div>
                </li>
                
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Geburtsdatum: </label>
                        </div>
                        <div class="col">
                            <input type="text" class="font-italic" name="patient_s_birth_date" id="id_patient_s_birth_date" value='{{ patient.birthdate }}' readonly>
                             
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Geschlecht: </label>
                        </div>
                        <div class="col">
                            <input type="text" class="font-italic" name="patient_s_sex" id="id_patient_s_sex" value='{{ patient.get_title_display}}' readonly>
                                           </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col">

                            <label>Auftragsbeschreibung: </label>
                        </div>
                        <div class="col">
                            {{form.scheduled_procedure_step_description}}
                        </div>
                    </div>
                </li>
            </ul>
        <button id="submit-btn" value='Speichern' class="btn btn-outline-primary"> Speichern</button>
        <a href="{% url 'patients' %}" class="btn btn-outline-primary">Abbrechen</a>

        </div>
    </div>
</form>
<script>
    $("#submit-btn").click(function( event ) {
        event.preventDefault();
        var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
        $.ajaxSetup({
            timeout: 15000,
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
                'Accept': 'application/json',
                'X-CSRFToken': csrfmiddlewaretoken
            }
        });
        $("#submit-btn").html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> In Bearbeitung...').addClass('disabled');
        var $ti = $("#submit-btn").html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> In Bearbeitung...');
        $.post("{% url 'worklistCreate' %}", $("#worklist-form").serialize(), function(responseData) {
            console.log(responseData);
            if (responseData["status"] == "error") {
                var button_icon = '<img id="status-icon" src="/static/images/cancel.png" width="25" height="25">';
                var button_text = "Vorgang fehlgeschlagen";
            } else {
                var button_icon = '<img id="status-icon" src="/static/images/check.png" width="25" height="25">';
                var button_text = "Vorgang erfolgreich";
                setTimeout(function () {
                window.location.replace("{%url 'patients'%}"); //will redirect to your blog page (an ex: blog.html)
                }, 2000); 
            }
            $('#submit-btn').addClass('enabled');
            $('#submit-btn').html(button_text + " " + button_icon);
        }).fail(function() {
            console.log("failed...");
        }); 
});
</script>
 
{% endblock %}