body{
  margin: 0;
  padding: 0;
  font-family: 'Areal', serif;
  background-color: #e9f8fb;
}

.nav{
  background-color: rgb(143, 241, 243);
  color: white;
  list-style: none;
  text-align: center;
  padding: 20px 0 20px 0;
}
.nav > li {
  display: inline-block;
  padding: 0 25px 0 25px;  
}
.nav > li > a{
  text-decoration: none;
  color: rgb(26, 116, 116);
}

.nav > li > a:hover {
  color: darkslategrey;
}
.active {
  background-color: #4CAF50;
}

 
