
{% extends 'base.html' %} 
<!-- scoate din nav bar toate butoanele. pt ca deja mai ai butoane jos-->
{% block content %}

<h3>Wilkommen bei curaMED</h3>

<div class="card-deck">
   
      <div class="card border-info mb-3 w-65">
        <div class="card-body">
          <h5 class="card-title">Patienten</h5>
          
          <a href="#Patienten liste" button type="button" class="btn btn-link btn-sm">Patientenliste</a>
          <a href="#Patienten suche" button type="button" class="btn btn-link btn-sm">Patient suchen</a>
          <a href="#Patienten importieren" button type="button" class="btn btn-link btn-sm">Patienten importieren</a>
        </div>
      </div>
  
      <div class="card border-info mb-3 w-65">
          <div class="card-body">
            <h5 class="card-title">Modalitäten</h5>
            <a href="#Neue Modalität hinzufügen" button type="button" class="btn btn-link btn-sm">Neue Modalität</a>
            <a href="#Modalität anzeigen" button type="button" class="btn btn-link btn-sm">Modalitäten anzeigen</a>
            <a href="#Modalität entfernen" button type="button" class="btn btn-link btn-sm">Modalität entfernen</a>
             
          </div>
        </div>
       
     
      <div class="card border-info mb-3 w-65">
        <div class="card-body">
          <h5 class="card-title">Administration</h5>
          <a href="#Standort konfigurieren" button type="button" class="btn btn-link btn-sm">Standort konfigurieren</a>
         
          
        </div>
      </div>
    </div>
   
    <nav class="navbar fixed-bottom navbar-light bg-light">
      <h6 class="text-blue h4">Kontakt: dumig1@bfh.ch</h6>
      <h6 class="text-blue h4">Addresse: Quellgasse 21, 2502 Biel</h6>
    </nav>
{% endblock %}

