{% extends 'base.html' %}

{% block content %}
<div style="margin-top:15px;">
  <h2 class="text-center">Neuen Standort hinzufügen</h2>
</div>

<form method='POST'> {% csrf_token %}

  <div class="card border-info mb-3 w-50 mx-auto">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="card w-2 border-0">
            <div class="col" style="width: 80px">
              <img src="/static/images/smart-home.png" class="card-img-top">
            </div>
          </div>
          <div class="col-10">
            <h5 class="card-title">Informationen zu ihrer Praxis</h5>
            <h6 class="card-subtitle"> Tragen Sie die passende Informationen in das Formular ein.</h6>
          </div>
        </div>

      </div>
      <div class="card-body ">
        <div class="container">
          <div style="margin-bottom:15px;"> 
          <div class="row">
            <div class="col">
              <label>Filialname: </label>
            </div>
            <div class="col">{{form.name}} </div>
          </div>          
          </div>
           
          <div style="margin-bottom:15px;">
          <div class="row">
            <div class="col">
              <label>Strasse: </label>
            </div> 
            <div class="col">{{form.street}}  </div>
          </div>
        </div>
        <div style="margin-bottom:15px;">
          <div class="row">
            <div class="col">
              <label>Hausnummer: </label>
            </div>
            <div class="col"> {{form.number}} </div>
          </div>
          </div>
          <div style="margin-bottom:15px;">
          <div class="row">
            <div class="col">
              <label>Ort: </label>
            </div>
            <div class="col">{{form.city}} </div>
          </div>
        </div>         
        <div style="margin-bottom:15px;">
          <div class="row">
            <div class="col">
              <label>PLZ: </label>
            </div>
            <div class="col">{{form.plz}}</div>
          </div>
        </div>
        <div style="margin-bottom:15px;">
          <div class="row">
            <div class="col">
              <label>Telefonnummer: </label>
            </div>
            <div class="col">{{form.telefon_number}}      </div>
          </div>
        </div>


        </div>
      </div>

      <input type='submit' value='Speichern' class="btn btn-outline-primary" />
      <a href="{% url 'administration' %}" class="btn btn-outline-primary">Abbrechen</a>

    </div>
  </div>


</form>
{% endblock %}