{% extends 'base.html' %}

{% block content %}
<h2>Neuen Standort hinzufügen</h2>

<form method='POST'> {% csrf_token %}

  <div class="card border-info mb-3">
    <div class="card-body">
      <div class="container">
        <div class="row">
          <div class="card w-2 border-0">
            <div class="col">

              <img src="/static/images/smart-home.png" class="card-img-top" width="55" height="45">
            </div>
          </div>
          <div class="col-10">
            <h5 class="card-title">Informationen zu ihren Praxis</h5>
             
            <h6 class="card-subtitle"> Tragen Sie die passende Informationen in den Formular ein. Alle felder sind pflichtig</h6>
         
 </div>
        </div>

      </div>
      <div class="card-body ">
        <div class="container">

           
            <div class="row">
              <div class="col">
                <label>Betriebsname: </label>
              </div>
              <div class="col">
                {{form.name}}
              </div>
            </div>
         <br>
            <div class="row">
              <div class="col">
                <label>Strasse: </label>
              </div>
              <div class="col">
                {{form.street}}
              </div>
            </div>
          <br>
            <div class="row">
              <div class="col">
                <label>Hausnr.: </label>
              </div>
              <div class="col">
                {{form.number}}
              </div>

            </div>
          <br>
            <div class="row">
              <div class="col">
                <label>Stadt: </label>
              </div>
              <div class="col">
                {{form.city}}
              </div>
            </div>
          <br>
            <div class="row">
              <div class="col">
                <label>PLZ: </label>
              </div>
              <div class="col">
                {{form.plz}}
              </div>
            </div>
          <br>
            <div class="row">
              <div class="col">
                <label>Telefon Nr.: </label>
              </div>
              <div class="col">
                {{form.telefon_number}}
              </div>
            </div>
           

        </div>
      </div>

<input type='submit' value='Speichern' class="btn btn-outline-primary" />
  <a href="{% url 'administration' %}" class="btn btn-outline-primary">Abbrechen</a>

    </div>
  </div>

  
</form>
{% endblock %}