{% extends 'base.html' %}

{% block content %}

<h2>Addresse</h2>
<form action='.' method='POST'> 
    {% csrf_token %} 
    <div class="card border-info mb-3 w-75">
        <div class="card-header">
            Betriebsname: {{ object.name }}
          </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Betriebsname: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="name" id="id_name" value='{{ object.name }}'>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Strasse: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="street" id="id_street" value='{{ object.street }}'>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Nr.: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="number" id="id_number" value='{{ object.number }}'>
                        </div>
                    </div>
                </li>

                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Stadt: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="city" id="id_city" value='{{ object.city }}'>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>PLZ: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="plz" id="id_plz" value='{{ object.plz }}'>
                        </div>
                    </div>
                </li>


                <li class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <label>Telefon Nr.: </label>
                        </div>
                        <div class="col">
                            <input type="text" name="telefon_number" id="id_telefon_number" value='{{ object.telefon_number }}'>
                        </div>
                    </div>
                </li>
        </div>
    </div>
    <input type='submit' value='Ändern' class="btn btn-outline-primary"
    />
    <a href="{% url 'administration' %}"  class="btn btn-outline-primary">Abbrechen</a>
   
</form>



{% endblock %}