{% extends 'base.html' %} 

{% block content %}
<br>

<h2>Standortliste</h2>
<br>

{% for object in object_list reversed %}
<div class="card border-info mb-3 w-100" >
    <div class="card-body">
    <div class="container">
      <div class="row">
        <div class = "card w-2 border-0">
        <div class="col">
          <img src="/static/images/smart-home.png" class="card-img-top" width="55" height="45">
        </div>
      </div>
        <div class="col-15">
          <h5 class="card-title"> {{ object.name}}</h5>
        </div>
      </div>
    </div>
     
        
            <div class = "card-body"> 
              <div class="container">
                <ul class="list-group list-group-flush"> 
                <li class="list-group-item">Adresse: {{ object.street }},  {{ object.number }}</li>
                <li class="list-group-item">Ort: {{ object.city }}, {{ object.plz }}</li>
                <li class="list-group-item">Telefonnummer: {{ object.telefon_number }}</li>
              </ul>
              </div>
            </div>
          
       
        
        <a href="{% url 'locationDetail' object.id %}" 
         class="btn btn-outline-primary">Standort bearbeiten</a>
         <a href="{% url 'locationDelete' object.id %}" 
         class="btn btn-outline-primary">Standort löschen</a>
      </div>
    </div>


{% endfor %}

{% endblock %}