{% extends 'base.html' %}

{% block content %}
<div style="margin-top:15px;"> 
  <h2 class="text-center">Standort löschen</h2>
</div>
  
<form method='POST'> {% csrf_token %}

  
  <div class="card border-info mb-3 mx-auto" style="width: 45rem;">
    <div class="card-body">
      <div class="container">
        
        <div class="row">
          <div class="card w-2 border-0"> 
            <div class="col">
              <img src="/static/images/smart-home.png" class="card-img-top" width="55" height="45">
            </div>
          </div>
          <div class="col-15">
            <h5 class="card-title">Möchten Sie den Standort "{{ object.name}}" löschen? </h5>
          </div>
          
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item py-1 mt-1"> Filialname: {{ object.name }}</li>
        <li class="list-group-item py-1">Addresse: {{ object.street }}, {{ object.number }}</li>
        <li class="list-group-item py-1">{{ object.city }}, {{ object.plz }}</li>
        <li class="list-group-item py-1 mb-1">Telefon Nr.: {{ object.telefon_number }}</li>
      </ul>

      <input type='submit' class="btn btn-outline-primary" value='Ja' />
      <a href="{% url 'administration' %}" class="btn btn-outline-primary">Nein</a>
    </div>
  </div>
  
</form>
{% endblock %}