{% extends 'base.html' %}

{% block content %}
<h2> Neue Modalität hinzufügen</h2>

<form method='POST'> {% csrf_token %}
   {% if messages %}
   {% for message in messages %}
    <div class="alert alert-warning 
        {% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
         {{ message }} 
        

    </div>
    {% endfor %}
   {% endif %}
    <div class="card border-info mb-3">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="card w-2 border-0">
                        <div class="col">

                            <img src="/static/images/mri.png" class="card-img-top" width="55" height="45">
                        </div>
                    </div>

                </div>

            </div>
            <div class="card-body ">
                <div class="container">




                    <div class="row">
                        <div class="col">
                            <label>AETitle: </label>
                        </div>

                        <div class="col">
                            {{form.ae_title}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>Title: </label>
                        </div>
                        <div class="col">
                            {{form.title}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>Beschreibung: </label>
                        </div>
                        <div class="col">
                            {{form.description}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>IP: </label>
                        </div>
                        <div class="col">
                            {{form.ip}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>Port: </label>
                        </div>
                        <div class="col">
                            {{form.port}}
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col">
                            <label>Standort: </label>
                        </div>
                        <div class="col">
                            {{form.associate_location }}
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>

    <input type='submit' class="btn btn-outline-primary" value='Speichern'/>
    <a href="{% url 'modalities' %}" class="btn btn-outline-primary">Abbrechen</a>
</form>
{% endblock %}

 