{% extends 'base.html' %}

{% block content %}
<div style="margin-top:15px;"> 
    <h2 class="text-center"> Neue Modalität hinzufügen</h2>
</div>
  
<form method='POST'> {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning 
        {% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="card border-info mb-3 w-50 mx-auto"> 
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="card w-2 border-0">
                        <div class="col">
                            <img src="/static/images/mri.png" class="card-img-top" width="55" height="45">
                        </div>
                    </div> 
                    <div class="col-15">
                        <h5 class="card-title">Bitte Informationen der neuen Modalität einfügen.</h5>
                        <h6 class="card-subtitle">Bitte beachten Sie, dass der AETitle einzigartig sein muss. Der
                            AETitle muss zuerst auf der Modalität konfiguriert werden.</h6>
                    </div>
                </div>

            </div>
            <div class="card-body ">
                <div class="container">
                    <div style="margin-bottom:15px;"> 
                    <div class="row">
                        <div class="col">
                            <label
                                title="Der DICOM AE-Titel ist eine kurze, eindeutige Bezeichnung für ein Gerät.">AE-Titel:
                            </label>
                        </div>
                        <div class="col" >{{form.ae_title}} </div>
                    </div>
                </div>

                <div style="margin-bottom:15px;"> 
                    <div class="row">
                        <div class="col">
                            <label>Typ: </label>
                        </div>
                        <div class="col">
                            {{form.title}}
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:15px;"> 
                    <div class="row">
                        <div class="col">
                            <label>Beschreibung: </label>
                        </div>
                        <div class="col">
                            {{form.description}}
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:15px;"> 
                    <div class="row">
                        <div class="col">
                            <label>IP Adresse: </label>
                        </div>
                        <div class="col">
                            {{form.ip}}
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:15px;"> 
                    <div class="row">
                        <div class="col">
                            <label>Port Nummer: </label>
                        </div>
                        <div class="col">
                            {{form.port}}
                        </div>
                    </div>
                </div>
                <div style="margin-bottom:15px;"> 
                    <div class="row">
                        <div class="col">
                            <label>Standort: </label>
                        </div>
                        <div class="col" id="associate_location">
                            {{form.associate_location }}
                        </div>
                    </div>
                </div>
               
                    <div class="row">
                        <div class="col">
                            <label>Verbindungstest: </label>
                        </div>
                        <div class="col" id="connetion-button-div">
                            <button type="button" id="btn-connect" class="btn btn-outline-primary" name='echo'>
                                Verbinden</button>
                            <img id="status-icon" src="/static/images/cancel.png" width="35" height="35">
                        </div>
                    </div>
                </div>
            </div>
            <input type='submit' class="btn btn-outline-primary" name='action' value='Speichern' />
            <a href="{% url 'modalities' %}" class="btn btn-outline-primary">Abbrechen</a>
        </div>
    </div>
</form>
<script>
    $("#status-icon").hide();
    $('#btn-connect').click(function () {
        var ae_title = $("#id_ae_title").val();
        var ip = $("#id_ip").val();
        var port = $("#id_port").val();
        var location = $("#id_associate_location").val();
        var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();

        $.ajaxSetup({
            timeout: 10001,
            headers: {
                'Content-Type': 'application/json',
                'Accept': 'application/json',
                'X-CSRFToken': csrfmiddlewaretoken
            }
        });
 
        $('#btn-connect').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Verbinden...').addClass('disabled');
        var $ti = $('#btn-connect').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Verbinden...');

        setTimeout(function () {
            //dont remove.. 
        }, 1000);

        var jqxhr = jQuery.post("{%url 'modalityEcho'%}", JSON.stringify({
            ip_address: ip,
            port: port,
            location_id: location
        }), function (responseData) {
            //var parsed_response = jQuery.parseJSON(responseData)
            var parsed_response = responseData
            console.log(parsed_response);
            if (parsed_response["status"] == "error") {
                var button_icon = '<img id="status-icon" src="/static/images/cancel.png" width="25" height="25">';
                var button_text = "Modalität Offline";
            } else {
                var button_icon = '<img id="status-icon" src="/static/images/check.png" width="25" height="25">';
                var button_text = "Modalität Online";
            }
            $('#btn-connect').addClass('enabled');
            $('#btn-connect').html(button_text + " " + button_icon);

            //$ti.html('Modalität Online');
            //$("#status-icon").prop("src", "/static/images/check.png");
            //$("#status-icon").show();
        })
            .fail(function () {
                var button_icon = '<img id="status-icon" src="/static/images/cancel.png" width="25" height="25">';
                var button_text = "Modalität Offline";
                $('#btn-connect').addClass('enabled');
                $('#btn-connect').html(button_text + " " + button_icon);
            });

    });
    // $('#post-btn').click(function () {
    //     var ip = $("#id_ip").val();
    //     var port = $("#id_port").val();
    //     var location = $("#id_associate_location").val();
    //     var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();

    //     $.ajaxSetup({
    //         timeout: 10001,
    //         headers: {
    //             'Content-Type': 'application/json',
    //             'Accept': 'application/json',
    //             'X-CSRFToken': csrfmiddlewaretoken
    //         }
    //     });

    //     $.post("{%url 'modalityEcho'%}", JSON.stringify({
    //         ip_address: ip,
    //         port: port,
    //         location_id: location
    //     }),
    //         function (returnedData) {
    //             console.log(returnedData);
    //         }).fail(function () {
    //             console.log("error");
    //         });
    // });
</script>
{% endblock %}