{% extends 'base.html' %}

{% block content %}
<br>
<h2> Neue Modalität hinzufügen</h2>

<form method='POST'> {% csrf_token %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning 
        {% if message.tags %} alert-{{ message.tags }}{% endif %}" role="alert">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    <div class="card border-info mb-3">
        <div class="card-body">
            <div class="container">
                <div class="row">
                    <div class="card w-2 border-0">
                        <div class="col">

                            <img src="/static/images/mri.png" class="card-img-top" width="55" height="45">
                        </div>
                    </div>
                    <div class="col-15">
                        <h5 class="card-title">Bitte Informationen der neuen Modalität einfügen.</h5>
                        <h6 class="card-subtitle">Bitte beachten Sie, dass der AETitle einzigartig sein muss. Der
                            AETitle muss zuerst auf der Modalität konfiguriert werden.</h6>
                    </div>
                </div>

            </div>
            <div class="card-body ">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <label
                                title="Der DICOM AE-Titel ist eine kurze, eindeutige Bezeichnung für ein Gerät.">AE-Titel:
                            </label>
                        </div>

                        <div class="col">
                            {{form.ae_title}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>Typ: </label>
                        </div>
                        <div class="col">
                            {{form.title}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>Beschreibung: </label>
                        </div>
                        <div class="col">
                            {{form.description}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>IP Adresse: </label>
                        </div>
                        <div class="col">
                            {{form.ip}}
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <label>Port Nummer: </label>
                        </div>
                        <div class="col">
                            {{form.port}}
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <div class="col">
                            <label>Standort: </label>
                        </div>
                        <div class="col" id="associate_location">
                            {{form.associate_location }}
                        </div>
                    </div>

                    <br>
                    <div class="row">
                        <div class="col">
                            <label>Verbindungstest: </label>
                        </div>
                        <div class="col" id="connetion-button-div">
                            <!-- <input type="submit" id="btn-connect" class="btn btn-outline-primary" name='action' value="Verbinden"> -->
                            <button type="button" id="btn-connect" class="btn btn-outline-primary" name='echo'>
                                Verbinden</button>

                            <img id="statuts-btn" src="/static/images/cancel.png" width="45" height="45" value="hidden">

                        </div>
                    </div>
                </div>
            </div>

            <input type='submit' class="btn btn-outline-primary" name='action' value='Speichern' />
            <a href="{% url 'modalities' %}" class="btn btn-outline-primary">Abbrechen</a>

        </div>
    </div>
</form>
<script>
    $('#btn-connect').click(function () {
        $.ajaxSetup({ timeout: 6001 })
        var ae_title = $("#id_ae_title").val();
        var ip = $("#id_ip").val();
        var port = $("#id_port").val();
        var location = $("#id_associate_location").val();
        $('#btn-connect').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Verbinden...').addClass('disabled');
        var $ti = $('#btn-connect').html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Verbinden...');
        
        setTimeout(function () {
            //dont remove.. 
        }, 1000);

        var jqxhr = jQuery.get("{%url 'modalityEcho'%}?ip-address=" + ip + "&port-address=" + port + "&ae-title=" + ae_title + "&location-id=" + location, function () {
            $ti.html('Modalität Online');
            $("#statuts-btn").prop("src", "/static/images/check.png");
        })
            .fail(function () {
                $ti.html('Modalität Offline');
                
            }); 
    });


</script>
{% endblock %}