{% extends 'base.html' %}
{% block content %}
<div style="margin-top:15px;">
<h2 class="text-center">Konfigurierte Modalitäten</h2> {% csrf_token %}
</div>
{% for instance in object_list reversed %} 
<div class="card border-info mb-3 mx-auto" style="width: 45rem;"> 
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="card w-2 border-0">
          <div class="col"  style="width: 80px;">
            <img src="/static/images/mri.png" class="card-img-top">
          </div>
        </div>
        <div class="col-15">
          <h5 class="card-title" id="ae-title-{{instance.id}}" corresponding-ae-title="{{instance.ae_title}}" title="Der DICOM AE-Titel ist eine kurze, eindeutige Bezeichnung für ein Gerät">
            AE-Titel: {{instance.ae_title}} </h5>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-1 mt-1">Typ: {{ instance.get_title_display }}</li>
      <li class="list-group-item py-1">Beschreibung: {{ instance.description }}</li>
      <li class="list-group-item py-1" id="ip-address-{{instance.id}}" corresponding-ip-address="{{ instance.ip }}" >IP Adresse: {{ instance.ip }}</li>
      <li class="list-group-item py-1" id="port-{{instance.id}}" corresponding-port="{{ instance.port }}">Port Nummer: {{ instance.port }}</li>
      <li class="list-group-item py-1 mb-1" id="location-{{instance.id}}" corresponding-location="{{ instance.associate_location.id }}"> Standort: {{ instance.associate_location.get_location_representation }} </li>
  </ul>
    <a href="{% url 'modalityDetail' instance.id %}" class="btn btn-outline-primary">Modalität bearbeiten</a>
    <a href="{% url 'modalityDelete' instance.id %}" class="btn btn-outline-primary">Modalität entfernen</a>
    <button type="button" id="btn-connect-{{ instance.id }}" corresponding-modality-id="{{ instance.id }}" class="btn btn-outline-primary"> Verbinden</button>
  </div>
</div>
<script>
  $('[id^=btn-connect]').click(function () {
    var csrfmiddlewaretoken = $("input[name=csrfmiddlewaretoken]").val();
     $.ajaxSetup({ timeout: 6001,
     
      headers: {
        'Content-Type': 'application/json',
        'Accept': 'application/json',
        'X-CSRFToken': csrfmiddlewaretoken
    }}) 
        var connection_button = $(this);
        var modality_id = $(this).attr("corresponding-modality-id");
        var ae_title = $("#ae-title-" + modality_id).attr("corresponding-ae-title");
        var ip = $("#ip-address-" + modality_id).attr("corresponding-ip-address");
        var port = $("#port-" + modality_id).attr("corresponding-port");
        var location = $("#location-" + modality_id).attr("corresponding-location");

    $(this).html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Verbinden...').addClass('disabled');
    var $ti = $(this).html('<span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span> Verbinden...');
   
    setTimeout(function () {        
    }, 1000);
   
    var jqxhr = jQuery.post("{%url 'modalityEcho'%}", JSON.stringify({
            ip_address: ip,
            port: port,
            location_id: location
        }), function (responseData) {
            //var parsed_response = jQuery.parseJSON(responseData)
            var parsed_response = responseData
            console.log(parsed_response);
            if (parsed_response["status"] == "error") {
                var button_icon = '<img id="status-icon" src="/static/images/cancel.png" width="25" height="25">';
                var button_text = "Modalität Offline";
            } else {
                var button_icon = '<img id="status-icon" src="/static/images/check.png" width="25" height="25">';
                var button_text = "Modalität Online";
            }
            connection_button.addClass('enabled'); 
            connection_button.html(button_text + " " + button_icon);
        })
            .fail(function () {
                var button_icon = '<img id="status-icon" src="/static/images/cancel.png" width="25" height="25">';
                var button_text = "Modalität Offline";
                connection_button.addClass('enabled');
                connection_button.html(button_text + " " + button_icon);
            });
  });
   
</script>
{% endfor %}

{% endblock %}