
{% extends 'base.html' %} 

{% block content %}
<div style="margin-top:15px;">  
<h2 class="text-center">Modalität entfernen</h2>
</div>
<form method='POST'> {% csrf_token %}
   
    <div class="card border-info mb-3 mx-auto" style="width: 45rem;"> 
        <div class="card-body">
        <div class="container">
          <div class="row">
            <div class = "card w-2 border-0">
            <div class="col"  style="width: 80px;">
              <img src="/static/images/mri.png" class="card-img-top">
            </div>
          </div>
          <div class="col-15">
            <h5 class="card-title">Möchten Sie die Modalität {{ object.ae_title}} entfernen?</h5>
          </div>
          </div>
        </div>          
            <ul class="list-group list-group-flush">
              <li class="list-group-item py-1">Typ: {{ object.title }}</li>
              <li class="list-group-item py-1">Beschreibung: {{ object.description }}</li>
              <li class="list-group-item py-1">IP Adresse: {{ object.ip }}, Port Nummer: {{ object.port }}</li>
              <li class="list-group-item py-1">Standort: {{ object.associate_location.get_location_representation }}</li>
            </ul>  
           <input type='submit' class="btn btn-outline-primary"  value ='Ja'/>
    <a href="{% url 'modalities' %}" class="btn btn-outline-primary" >Nein</a>
          </div>
        </div>
   
   </form>
{% endblock %}